// BASE

:root {
  --principalcolor : #262E51;
  --secondarycolor : #E7316D;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sora', sans-serif;
  font-weight: normal;
}

#app {
  grid-template-rows: repeat(3, max-content);
  display: grid;
}

ul {
  list-style: none;
}

router-link {
  text-decoration: none;
  color: #000;
}


// MENU
// ICON
.nav-toggle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.nav-toggle-bar {
  @media (min-device-width: 768px)  {
    display: none;
  }
}

.nav-toggle-bar, .nav-toggle-bar::before, .nav-toggle-bar::after {
  content: "";
  background-color: #eee;
  width: 100%;
  height: 0.25rem;
  position: absolute;
  left: 0;
  transition: all .4s ease-in-out;
}

.nav-toggle-bar::before {
  top: -1rem;
}

.nav-toggle-bar::after {
  top: 1rem;
}

//nav desktop
.nav_desktop {
  display: none;
  @media (min-device-width: 768px) {
    display: block;
    grid-column: 2;
    grid-row: 1;
    .menu_desktop {
      display: grid;
      height: 100%;
    }
  }
}

// MENU OPEN
.menu {
  background-color: var(--principalcolor);
  position: fixed;
  width: 37.5rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100vw);
  transition: all .6s;
  z-index: 1;
}

.header_menu_mobile > a > img, header > a > img {
  margin-bottom: 5px;
  margin-top: 5px;
}

header a img {
  width: 50px;
}

header {
  width: 100%;
  background-color: var(--principalcolor);
}

.ul-insc-conn > ul  {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;

  display: block;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}

.ul-insc-conn > ul > li > router-link {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--secondarycolor);
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
}

.ul-insc-conn > ul > li {
  border-bottom: var(--secondarycolor) 2px solid;
  text-align: center;
}

.inscription, .connexion {
  text-decoration: none;
  color: var(--secondarycolor);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7em;
}

.inscription-connexion {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 50px;
}

//menu actif

.menu-open .menu {
  transform: translateX(0);
}

.menu-open, .menu-open body {
  overflow: hidden;
}

.menu-open .nav-toggle-bar {
  transform: rotate(135deg);
}

.menu-open .nav-toggle-bar::before, .menu-open .nav-toggle-bar::after {
  transform: rotate(90deg);
  top: 0;
}

// style de l'accueil

.img1_accueil {
  background-image: url("../../assets/img_accueil/Memo_1.jpg");
  color: white;
  width: 100%;
  height: 100vw;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -50%;

}

.img1_accueil h1 {
  padding-top: 15%;
  margin-top: auto;
  margin-bottom: auto;
  height: max-content;
  font-size: 3rem;
}

//largeur éléments mobiles

.qui_sommes_nous, .last_news, .this_month, .research_news, .intro_good_plans, .devenir_adherent,
.last_good_plans, .partenaires, .intro_bde, .les_ae, #devenir_adherent, #forum, #sujet_forum,
.list_team, .benevoles, .nos_projet, .contact, #profil, .adherer, #main_expl_event,
#article_septembre, #liste_bons_plans, #bde_mmi
{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 80px;
}

body p {
  font-size: 1.5rem;
  font-weight: lighter;
}

.title_underline {
  border-bottom: var(--secondarycolor) solid 2px;
  width: 186px;
  font-weight: bold;
  padding-bottom: 3px;
  @media (min-device-width: 768px) {
    grid-column: 1/5;
  }
}

.qui_sommes_nous iframe {
  height: 180px;
  @media (min-device-width: 768px) {
    grid-column: 8/13;
    height: 300px;
    margin-bottom: auto;
    margin-top: auto;
  }
}

button {
  margin-top: 10px;
  background-color: var(--principalcolor);
  width: 130px;
  height: 30px;
  border: none;
}

button router-link {
  text-decoration: none;
  color: white;
}

button:active {
  border: 2px var(--secondarycolor) solid;
  background-color: white;
}

button:active router-link {
  color: var(--secondarycolor);
}

//dernière news




.background_black {
  background-color: rgba(0, 0, 0, 0.26);
}





.last_news ul, .this_month ul, .last_good_plans ul, .news_september, .liste_bons_plans {
  color: white;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.last_news ul li, .this_month ul li, .last_good_plans ul li, .news_september li, .liste_bons_plans li  {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  width: 386px;
  margin-top: 20px;
  position: relative;
  div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
  }
  img {
    width: 100%;
    height: 100%;
  }
}

//.last_news ul li h2, #events >.last_news > ul > li > h2, #events .this_month ul li h2, #good_plans .last_good_plans ul li h2 {
//  border-bottom: none;
//  width: 100%;
//  padding-top: 20px;
//}

.last_news ul li p, .this_month ul li p, .last_good_plans ul li p {

  padding-right: 20px;
  padding-left: 20px;

}

//footer

footer {
  background-color: var(--principalcolor);
  color: white;
  margin-top: 15vh;
  grid-row: 3;
}

.a_propos router-link {
  color: white;
  font-weight: lighter;
}

.a_propos li {
  margin-top: 5px;
}

.a_propos_follow {
  flex-direction: column;
  .propos_follow {
    display: flex;
    justify-content: space-around;
  }
}

.a_propos_follow {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.logo_facebook {
  margin-right: 15px;
}

.mentions {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

//page événements

.intro_event {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 30px;
}

ul li router-link h2 {
  color: white;
}

.research_news ul li, .les_ae ul li, .liste_mois li {
  width: 40%;
  height: 75px;
  color: white;
  display: flex;
}

.background_bleu {
  background-color: var(--principalcolor);
}

.background_rose {
  background-color: var(--secondarycolor);
}

#events .research_news ul li h2, #bde .les_ae ul li h2, #article_septembre ul li h2{
  width: 100%;
  margin: auto;
  text-align: center;
}

.research_news ul,.partenaires ul, .les_ae ul,  .liste_mois  {
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.research_news ul li:nth-child(2n), .liste_mois li:nth-child(2n) {
  margin-left: 10%;
  margin-bottom: 10px;
  @media (min-device-width: 768px) {
    margin: 0;
    width: 48.5%;
  }
}

.research_news ul li:nth-child(odd), .liste_mois li:nth-child(odd) {
  margin-left: 5%;
  @media (min-device-width: 768px)  {
    margin-left: 0;
    width: 48.5%;
  }
}


.research_news button  {
  margin-left: 5%;
  @media (min-device-width: 768px)  {
    margin-left: 0;
  }
}

.this_month ul .first_news {
  background-image: url("../../assets/img_events/nocturne_etudiante.jpg");
}

.this_month ul .second_news {
  background-image: url("../../assets/img_events/coursez_inte.jpg");
}

.this_month ul .third_news {
  background-image: url("../../assets/img_events/panier_legumes.jpg");
}

//page bons plans

.devenir_adherent img {
  width: 100%;
  @media (min-device-width: 768px)  {
    grid-column: 8/13;
    grid-row: span 2;
  }
}

.last_good_plans ul .good_plans_beer {
  background-image: url("../../assets/img_bons_plans/obrian.jpg");
}

.last_good_plans ul .good_plans_food {
  background-image: url("../../assets/img_bons_plans/baratie.jpg");
}

.last_good_plans ul .good_plans_clothe {
  background-image: url("../../assets/img_bons_plans/fripvie.jpg");
}

.partenaires ul li {
  width: 45%;
  margin-bottom: 10px;
}

.partenaires ul li:nth-child(n+3) {
  @media (min-device-width: 768px) {
    grid-column-end: 5;
  }
}

.partenaires ul li:nth-child(2n+3) {
  @media (min-device-width: 768px) {
    grid-column-end: 9;
  }
}

.partenaires ul li:nth-child(3n+3) {
  @media (min-device-width: 768px) {
    grid-column-end: 13;
  }
}


.partenaires ul li:nth-child(odd) {
  margin-right: 5%;
}

.partenaires ul li img {
  width: 100%;
}

.les_ae ul li {
  margin-right: 5%;
  margin-left: 5%;
}

.les_ae {
  margin-bottom: 171px;
}

#devenir_adherent p:first-child {
  margin-bottom: 60px;
}

#devenir_adherent img {
  width: 100%;
}

#devenir_adherent {
  margin-bottom: 99px;
}

//page forum

.intro_forum {
  margin-bottom: 80px;
}

.new_post, .refresh {
  width: 75px;
  height: 30px;
}

.refresh {
  padding-top: 2px;
  padding-bottom: 0;
  margin-left: 5px;
}

#tags {
  border-radius: 0;
  border-color: var(--secondarycolor);
  color: var(--secondarycolor);
  background-color: white;
  width: 63px;
  height: 28px;
}

.tag_form {
  width: 63px;
  height: 28px;
  margin-top: 10px;
}

.button_forum {
  display: flex;
  justify-content: space-between;
}

.fleche_gauche, .fleche_droite {
  width: 30px;
  height: 32px;
  border: var(--secondarycolor) solid 1px;
  background-color: white;
  padding: 0;

  margin: 0;
}

.fleche_gauche img, .fleche_droite img {
  display: block;
  margin: auto;
}

.page_forum1, .page_forum2 {
  width: 30px;
  height: 30px;
  border: var(--principalcolor) solid 1px;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.page_forum1 {
  background-color: var(--principalcolor);
  color: white;
  margin-right: 5px;
}

.pages_forum {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.nbr_page {
  display: flex;
  margin-right: 20px;
}

.fleche_gauche {
  margin-right: 2px;
}

.liste_sujets ul {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.liste_sujets ul li::before {
  content: "\2022";
  color: var(--secondarycolor);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.liste_sujets ul li {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: solid 2px var(--secondarycolor);
  padding-top: 30px;
  padding-left: 70px;
  width: 110%;
  margin-left: -10%;
}

.liste_sujets {
  width: 85%;
}

.liste_sujets ul li:last-child {
  border-bottom: solid 2px var(--secondarycolor);
  padding-bottom: 30px;
}

.sujet {
  margin-bottom: 80px;
}

#title {
  width: 100%;
  margin-top: 20px;
  border: none;
  border-bottom: solid 2px var(--secondarycolor);
  font-family: 'Sora', sans-serif;
}

.text_style, .list_style, .icon_img {
  border: solid 1px var(--secondarycolor);
  display: block;
  margin-top: 10px;
  width: max-content;
  padding: 5px 10px;
  height: 25px;
  margin-right: 5px;
}

.text_style img, .list_style img, .icon_img img {
  padding-right: 3px;
}

.list_style, .icon_img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.select_style_post {
  display: flex;
}

#contenu {
  border: solid 1px var(--secondarycolor);
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.rules_forum {
  color: #B4B4B4;
  width: 200px;
  margin-top: 20px;
}

//pages sujets du forum

#sujet_forum .button_forum .nbr_page {
  margin-top: 10px;
  margin-right: 0;
}

#sujet_forum .pages_forum .fleche .fleche_gauche {
  margin-right: 3px;

}

#sujet_forum .pages_forum {
  margin-top: 5px;
}

#sujet_forum .pages_forum .fleche .fleche_gauche, #sujet_forum .pages_forum .fleche .fleche_droite {
  width: 32px;
}

#sujet_forum .pages_forum button {
  margin-top: 0;
  height: 32px;
  width: 157px;
}

#sujet_forum .pages_forum {
  justify-content: space-between;
}

//page sujet du forum

.post_sujet > div:nth-child(odd) {
  background-color: rgba(231, 49, 109, .12);
}

.post_sujet > div {
  margin-bottom: 15px;
}

.post_sujet > div:nth-child(2n) {
  background-color: rgba(38, 46, 81, .19);
}

.presentation {
  border-bottom: 1px solid var(--secondarycolor);
  display: flex;
}

.presentation, .post {
  padding: 10px;
}

.text_presentation {
  margin-left: 10px;
}

.presentation img {
  width: 50px;
  height: 50px;
}

.pages_forum {
  margin-bottom: 30px;
}

.message_parent {
  color: #949494;
  border-left: 5px solid #949494;
  margin-left: 40px;
}

.message_parent p {
  margin-left: 10px;
}

.post {
  font-size: 1.4rem;
}

.rules_forum {
  font-size: 1.4rem;
}

//page notre équipe

.list_team ul li img {
  width: 130px;
  height: 130px;
}

.list_team ul li:nth-child(odd) {
  display: flex;
}

.list_team ul li:nth-child(2n) {
  display: flex;
  justify-content: flex-end;
}

.list_team ul, .membres_bde {
  padding-left: 0;

}

.list_team ul li:nth-child(odd) .info_personne_team {
  margin-left: 15px;
  margin-top: 35px;
}

.list_team ul li:nth-child(2n) .info_personne_team {
  margin-right: 15px;
  margin-top: 35px;

}


//page profil

.photo_profil {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images_profil {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.edit {
  position: absolute;
  margin-left: auto;
  right: 5px;
  bottom: 20px;
}

.informations_textuelles {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: max-content;
  text-align: center;
}

.boutons_profil {
  display: flex;
  flex-direction: column;
  margin-top: 134px;
}

.deconnexion_profil {
  color: var(--secondarycolor);
  font-size: 1.4rem;
  margin-top: 10px;
}

.information_profil {
  margin-top: 50px;
}

.footer_profil {
  position: absolute;
  bottom: 0;
}

//grille desktop

.grid {
  @media (min-device-width: 768px){
    display: grid;
    grid-template-columns: repeat(12, 7.41666%);
    grid-column-gap: 1%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: max-content;
    row-gap: 0.5%;
  }
}

//resposive page accueil

.qui_sommes_nous {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
    display: contents;
  }
}

.qui_sommes_nous p {
  @media (min-device-width: 768px) {
    grid-column: 1/span 6;

  }
}

.title_underline {
  @media (min-device-width: 768px) {
    height: max-content;
    grid-column: 1/6;
  }
}

#accueil .last_news {
  @media (min-device-width: 768px) {
    grid-row: 4;
    grid-column: 1/13;
    width: 100%;
    display: contents;
  }
}

#accueil .last_news h2 {
  @media (min-device-width: 768px) {
    grid-row: 6;

  }
}

#accueil .first_news {
  @media (min-device-width: 768px) {
    grid-column: 1/span 6;
    grid-row: 7/span 2;
    width: 100%;
    height: auto;
    background-size: cover;
  }
}


#accueil .second_news {
  @media (min-device-width: 768px) {
    grid-column: 8/span 5;
    width: 100%;
    height: auto;
    grid-row: 7;
    background-size: cover;
  }
}

#accueil .third_news {
  @media (min-device-width: 768px) {
    grid-column: 8/span 5;
    grid-row: 8;
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-size: cover;

  }
}

#accueil .last_news ul {
  @media (min-device-width: 768px) {
    display: contents;
    grid-column: 1/13;
    width: 100%;
  }
}

#accueil .third_news p, #accueil .second_news p {
  @media (min-device-width: 768px) {
    margin-top: 17%;
  }
}

#accueil {
  @media (min-device-width: 768px) {
    margin-bottom: 15vw;
  }
}

.button_see_more {
  @media (min-device-width: 768px) {
    grid-row: 9;
  }
}

#accueil .adherer {
  @media (min-device-width: 768px) {
    display: contents;
    grid-column: 1/13;
    width: 100%;
  }
}

#accueil .adherer p  {
  @media (min-device-width: 768px) {
    grid-column: 1/6;
  }
}

#accueil .adherer button  {
  @media (min-device-width: 768px) {
    grid-column: 1;
    grid-row: 5;
    margin-bottom: 25px;
  }
}

#accueil .adherer img  {
  @media (min-device-width: 768px) {
    grid-column: 8/13;
    grid-row: 4;
    width: 100%;
    height: 100%;
  }
}

#accueil .last_good_plans {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
    display: contents;
  }
}

#accueil .last_good_plans p {
  @media (min-device-width: 768px) {
    grid-row: 11;
    grid-column: 1/9;
  }
}

#accueil .last_good_plans ul {
  @media (min-device-width: 768px) {
    display: contents;
    grid-column: 1/13;
  }
}

// #good_plans .grid .last_good_plans ul
.first_plans, .first_news {
  @media (min-device-width: 768px) {
    grid-column: span 7;
    width: 100%;
    position: relative;
    height: auto;
    grid-row: span 2;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.5);

      p, h2 {
        padding-bottom: 15px;
        padding-top: 15px;
        margin: 0;
      }
    }
  }
}

#good_plans .grid .last_good_plans ul .second_plans{
  @media (min-device-width: 768px) {
    grid-row: 5;
  }
}

// #good_plans .grid .last_good_plans ul
.second_plans, .third_plans, .second_news, .third_news {
  @media (min-device-width: 768px) {
    grid-column: 8/13;
    width: 100%;
    height: 15vw;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.5);

      p, h2 {
        padding-bottom: 15px;
        padding-top: 15px;
        margin: 0;
      }
    }
  }
}

#accueil .last_good_plans .good_plans_food {
  @media (min-device-width: 768px) {
    grid-row: 12;
  }
}

#accueil .last_good_plans .good_plans_clothe {
  @media (min-device-width: 768px) {
    grid-row: 13;
  }
}

//menu mobile caché

.open-main-nav, #menu_mobile {
  display: block;
  @media (min-device-width: 768px) {
    display: none;
  }
}

//menu desktop

.menu_desktop {
  display: contents;
}

.menu_desktop ul {
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 10px;
}

.menu_desktop ul li  {
  display: none;
  @media (min-device-width: 768px) {
    border-right: 2px solid var(--secondarycolor);
    border-top: 2px solid var(--secondarycolor);
    width: max-content;
    padding: 7px;
    display: inline;
    margin-right: 10px;
  }
}

.menu_desktop ul li:hover {
  @media (min-device-width: 768px) {
    border-left: 2px solid var(--secondarycolor);
    border-bottom: 2px solid var(--secondarycolor);
    border-right: none;
    border-top: none;
  }
}

.menu_desktop ul li a {
  color: white;
  font-size: 1.4rem;
}

header {
  @media (min-device-width: 768px) {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
  }
}

header a {
  @media (min-device-width: 768px) {
    width: max-content;
    height: max-content;
    grid-column: 1;
  }
}


header .menu_desktop {
  @media (min-device-width: 768px) {
    grid-column: 2;
    grid-row: 1;
  }
}

.inscription_connexion_desktop {
  display: none;
  @media (min-device-width: 768px) {
    grid-column: 3;
    width: max-content;
    display: block;
    margin: auto 10px auto auto;
  }
}

.inscription_desktop, .connexion_desktop {
  width: max-content;
  margin: 5px;
}

.inscription_desktop {
  background-color: var(--secondarycolor);
  color: white;
  width: 100px;
}

.connexion_desktop {
  background-color: white;
  width: 100px;

}

.connexion_desktop a {
  color: #000;
}

#accueil .last_good_plans button {
  grid-row: 14;
  margin-bottom: 20px;
}

.adherer img {
  width: 100%;
}


//page exemple article
#main_expl_event > img {
  width: 100%;
}

.margin_bottom {
  margin-bottom: 50px;
}

.article_suivant {
  background-image: url("../../assets/img_accueil/Photo_inte.jpg");
  width: 60%;
  height: 150px;
  color: white;
  text-align: center;
}

//page exemple article septembre

.coursez_inte_1 {
  background-image: url("../../assets/img_events/Coursez_votre_inte-22.png");
}

.coursez_inte_2 {
  background-image: url("../../assets/img_events/coursez_inte.jpg");
}

.inte_mmi {
  background-image: url("../../assets/img_events/inte_mmi.png");
}

.nocturne_1 {
  background-image: url("../../assets/img_events/nocturne_groupe.png");
}

.nocturne_2 {
  background-image: url("../../assets/img_events/nocturne_etudiante.jpg");
}


.paniers_legumes {
  background-image: url("../../assets/img_events/panier_legumes.jpg");
}

.memoperation {
  background-image: url("../../assets/img_events/memoperation.png");
}

.news_september li, .liste_bons_plans li {
  margin-bottom: 20px;
}

//page exemple bon plan

.reseaux_parts img {
  width: 36px;
  margin-top: 10px;
  margin-right: 10px;
}

//page tous les bons plans
.liste_bons_plans a {
  grid-column: span 6;
  position: relative;
  height: 24vw;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.liste_news a {
  grid-column: span 6;
  position: relative;
  height: 24vw;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
  }


}


.Habits_moins_chers {
  background-image: url("../../assets/img_bons_plans/fripvie.jpg");
}

.Menu_moins_cher {
  background-image: url("../../assets/img_bons_plans/baratie.jpg");
}

.Reduc_patisserie {
  background-image: url("../../assets/img_bons_plans/patisserie.png");
}

.Reduc_coiffeur {
  background-image: url("../../assets/img_bons_plans/coiffeur.png");
}

.img_90 {
  width: 100%;
}

.membres_bde li {
  display: flex;
  margin-bottom: 20px;
}

.membres_bde li img {
  margin-right: 20px;
}

.president {
  margin-top: 50px;
}

//page événements responsive

.img_event {
  @media (min-device-width: 768px) {
    background-image: url("../../assets/img_events/banniere_events.png");
    color: white;
    width: 100vw;
    height: 100vw;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -50%;
    display: block;
  }

  display: none;

}

.img_event h1 {
  @media (min-device-width: 768px) {
    padding-top: 15%;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    font-size: 3rem;
    display: block;
  }
  display: none;
}

.intro_event {
  grid-column: 1/13;
  width: 100%;
}

.last_news {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
    display: contents;
    ul {
      grid-column: 1/13;
      display: contents;
    }

    .first_news {
      grid-column: 1/span 7 ;
      grid-row: 3/span 2;
      margin-top: 0;
      height: auto;
      width: 100%;
    }

    .second_news {
      grid-column: 9/13;
      grid-row: 3;
      width: 100%;
      height: 15vw;
      margin-top: 0;
    }

    .third_news {
      grid-column: 9/13;
      grid-row: 4;
      width: 100%;
      height: 15vw;
      margin-top: 0;
    }
  }
}

.this_month {
  grid-column: 1/span 7 ;
  grid-row: 5;
  @media (min-device-width: 768px) {
    width: 100%;

    ul li {
      width: 100%;
      height: 30vw;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.research_news {
  grid-column: 9/13;
  grid-row: 5;
  @media (min-device-width: 768px) {
    width: 100%;
    ul {
      justify-content: space-between;
    }

    ul li {
      margin-bottom: 10px;
    }
  }

}

//page bons plans responsive

.partenaires {
  @media (min-device-width: 768px)  {
    grid-column: 1/13;
    width: 100%;
    display: contents;
    margin-bottom: 50px;

    ul {
      display: contents;
      width: 100%;
    }

    ul li {
      grid-column: span 4;
      width: 100%;
    }

    ul li:first-of-type {
      grid-column: 1/span 4;
    }

    h2 {
      grid-column: 1/13;
    }
  }
}


#good_plans .last_good_plans {
  @media (min-device-width: 768px)  {
    grid-column: 1/13;
    width: 100%;
    h2 {
      grid-column: 1/13;
    }
  }
}

#good_plans .devenir_adherent {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
    display: contents;

    p {
      grid-column: 1/span 7;
      height: max-content;
    }

    h2 {
      grid-column: 1/13;
    }
  }
}

.intro_good_plans {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
  }
}
.img_bons_plans {
  @media (min-device-width: 768px) {
    background-image: url("../../assets/img_bons_plans/banniere_bons_plans.png");
    color: white;
    width: 100vw;
    height: 100vw;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -50%;
    display: block;
  }
  display: none;
}

.img_bons_plans h1 {
  @media (min-device-width: 768px) {
    padding-top: 15%;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    font-size: 3rem;
    display: block;
  }
  display: none;
}


#good_plans .last_good_plans {
  @media (min-device-width: 768px) {
    display: contents;
    ul {
      grid-column: 1/13;
      display: contents;
    }

    .good_plans_beer {
      grid-column: 1/span 7;
      width: 100%;
      height: auto;
      grid-row: 5/span 2;
    }

    .good_plans_food {
      grid-column: 9/13;
      height: 15vw;
      grid-row: 5;
      width: 100%;
    }

    .good_plans_clothe {
      grid-column: 9/13;
      height: 15vw;
      grid-row: 6;
      width: 100%;
    }

    button {
      grid-row: 7;
    }
  }
}

.intro_good_plans, .intro_event, .intro_bde {
  @media (min-device-width: 768px) {
    display: none;
  }
}

.img_ae {
  @media (min-device-width: 768px) {
    background-image: url("../../assets/img_ae/banniere_ae.png");
    color: white;
    width: 100vw;
    height: 100vw;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -50%;
    display: block;
  }

  display: none;

}

.img_ae h1 {
  @media (min-device-width: 768px) {
    padding-top: 15%;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    font-size: 3rem;
    display: block;
  }
  display: none;
}

.les_ae {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
    display: contents;

    ul {
      display: contents;
      width: 100%;

      li {
        margin: 10px 0 0;
        width: 100%;
        height: 15vw;
        grid-column: span 4;
      }

      li:first-of-type {
        grid-column: 1/span 4;
      }
    }
  }

}

//page notre équipe

.list_team {
  @media (min-device-width: 768px) {
    grid-column: 1/13;
    width: 100%;
  }
}

.benevoles, .nos_projet {
  @media (min-device-width: 768px) {
    grid-column: 1/span 6;
    width: 100%;
    display: contents;

    p {
      grid-column: 1/span 6;
    }
    img {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.contact {
  @media (min-device-width: 768px) {
    grid-column: 1/span 8;
    width: 100%;
  }
}

.img_benevoles {
  display: none;
  @media (min-device-width: 768px) {
    grid-column: 8/13;
    width: 100%;
    display: block;
  }
}

.img_projets {
  display: none;
  @media (min-device-width: 768px) {
    grid-column: 8/13;
    width: 100%;
    display: block;
  }
}

#liste_bons_plans, #liste_news {
  @media (min-device-width: 768px) {
    .ajout_bons_plans {
      border: 2px solid var(--secondarycolor);
      a {
        width: auto;
        height: 79px;
        margin: auto;
      }
      img {
        margin: auto;
      }
    }
    p {
      grid-column: 1/13;
    }
    ul {
      display: contents;
      grid-column: 1/13;
      li {
        grid-column: span 6;
        width: 100%;
      }
    }
  }
}


//tableau mois bas de page

#liste_news .research_news {
  display: contents;
  grid-column: 1/13;
  h2 {
    grid-column: 1/13;
  }
  ul {
    display: contents;
    a {
      grid-column: span 2;
      height: 7vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.liste_mois_cote {
  @media (min-device-width: 768px) {
    display: inline-grid!important;
    grid-template-columns: 49% 49%;
    width: 100%;
    grid-column-gap: 2%;

    a {
      width: 100%;
      grid-column: span 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      height: 10vw;
    }
  }
}
