:root {
  --principalcolor : #262E51;
  --secondarycolor : #E7316D;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
}
ul {
  list-style: none;
}


a {
  text-decoration: none;
}

#menu_mobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -999px;
}

.menu_bar1, .menu_bar2, .menu_bar3 {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s;
}

.is-open .menu_bar1 {
  -webkit-transform: rotate(-45deg) translate(-1x, 6px);
  transform: rotate(-45deg) translate(-1px, 6px);
}

.is-open .menu_bar2 {opacity: 0;}

.is-open .menu_bar3 {
  -webkit-transform: rotate(45deg) translate(-3.5px, -8px) ;
  transform: rotate(45deg) translate(-3.5px, -8px);
}

.open-main-nav {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 24.5px;
  height: 20.51px;
  z-index: 1;
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

.ul-insc-conn > ul  {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;

  display: block;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}

.ul-insc-conn > ul > li > a {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--secondarycolor);
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header_menu_mobile, header {
  background-color: var(--principalcolor);

}

.header_menu_mobile > a > img, header > a > img {
  margin-bottom: 5px;
  margin-top: 5px;
}

.ul-insc-conn > ul > li {
  border-bottom: var(--secondarycolor) 2px solid;
  text-align: center;
}

.inscription, .connexion {
  text-decoration: none;
  color: var(--secondarycolor);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7em;
}

.inscription-connexion {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 50px;
}

.main-nav {
  height: 100vh;
}

//menu actif

.device.is-open {
  left: 0;
  top: 0;
  animation: .5s slideRight ease-in forwards;
}

.device {
  animation: .5s slideLeft ease-out forwards;
  background-color: white;
}

@keyframes slideRight {
  from {
    left: -100%;}
  to {
    left: 0;}
}

@keyframes slideLeft {
  from {
    left: 0;}
  to {
    left: -100%;}
}

// style de l'accueil

#accueil {
  font-family: 'Sora', sans-serif;
  font-weight: normal;
}

.img1_accueil {
  background-image: url("../img/img_accueil/Memo_1.jpg");
  color: white;
  height: 211px;
  width: 100%;
  text-align: center;
}

.img1_accueil h1 {
  margin-top: 0;
}

.img1_accueil h1 {
  padding-top: 15%;
  margin-top: auto;
  margin-bottom: auto;
  height: max-content;
  font-size: 3rem;
}

//qui sommes-nous

.qui_sommes_nous, .last_news {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 80px;

}

.qui_sommes_nous p {
  font-size: 1.5rem;
  font-weight: lighter;
}

.qui_sommes_nous h2, .last_news h2 {
  border-bottom: var(--secondarycolor) solid 2px;
  width: 55%;
  font-weight: bold;
  padding-bottom: 3px;
}

.qui_sommes_nous iframe {
  height: 180px;
}

button {
  margin-top: 10px;
  background-color: var(--principalcolor);
  width: 130px;
  height: 30px;
  border: none;
}

button a {
  text-decoration: none;
  color: white;
}

button:active {
  border: 2px var(--secondarycolor) solid;
  background-color: white;
}

button:active a {
  color: var(--secondarycolor);
}

//dernière news


.first_news {
  background-image: url("../img/img_accueil/Coursez_votre_inte.jpg");
}

.second_news {
  background-image: url("../img/img_accueil/Photo_inte.jpg");
}

.third_news {
  background-image: url("../img/img_accueil/Nocturne-etudiante.jpg");
}

.last_news ul {
  color: white;
  padding-left: 0;
  text-align: center;
}

.last_news ul li {
  height: 200px;
}

.last_news ul li h2 {
  border-bottom: none;
  width: 100%;
  padding-top: 20px;
}

.last_news ul li p {
  margin-top:40%;
}

//footer

footer {
  background-color: var(--principalcolor);
  color: white;
}

.a_propos a {
  color: white;
  font-weight: lighter;
}

.a_propos li {
  margin-top: 5px;
}

.a_propos_follow {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.logo_facebook {
  margin-right: 15px;
}

.mentions {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}