:root {
  --principalcolor: #262E51;
  --secondarycolor: #E7316D;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Sora', sans-serif;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#menu_mobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -999px;
}
.menu_bar1,
.menu_bar2,
.menu_bar3 {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s;
}
.is-open .menu_bar1 {
  -webkit-transform: rotate(-45deg) translate(-1x, 6px);
  transform: rotate(-45deg) translate(-1px, 6px);
}
.is-open .menu_bar2 {
  opacity: 0;
}
.is-open .menu_bar3 {
  -webkit-transform: rotate(45deg) translate(-3.5px, -8px);
  transform: rotate(45deg) translate(-3.5px, -8px);
}
.open-main-nav {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 24.5px;
  height: 20.51px;
  z-index: 1;
}
.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}
.ul-insc-conn > ul {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  display: block;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}
.ul-insc-conn > ul > li > a {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--secondarycolor);
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
}
.header_menu_mobile,
header {
  background-color: var(--principalcolor);
}
.header_menu_mobile > a > img,
header > a > img {
  margin-bottom: 5px;
  margin-top: 5px;
}
.ul-insc-conn > ul > li {
  border-bottom: var(--secondarycolor) 2px solid;
  text-align: center;
}
.inscription,
.connexion {
  text-decoration: none;
  color: var(--secondarycolor);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7em;
}
.inscription-connexion {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 50px;
}
.main-nav {
  height: 100vh;
}
.device.is-open {
  left: 0;
  top: 0;
  animation: 0.5s slideRight ease-in forwards;
}
.device {
  animation: 0.5s slideLeft ease-out forwards;
  background-color: white;
}
@keyframes slideRight {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
.img1_accueil {
  background-image: url("../img/img_accueil/Memo_1.jpg");
  color: white;
  height: 211px;
  width: 100%;
  text-align: center;
}
.img1_accueil h1 {
  margin-top: 0;
}
.img1_accueil h1 {
  padding-top: 15%;
  margin-top: auto;
  margin-bottom: auto;
  height: max-content;
  font-size: 3rem;
}
.qui_sommes_nous,
.last_news,
.this_month,
.research_news,
.intro_good_plans,
.devenir_adherent,
.last_good_plans,
.partenaires,
.intro_bde,
.les_ae {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 80px;
}
.qui_sommes_nous p {
  font-size: 1.5rem;
  font-weight: lighter;
}
.qui_sommes_nous h2,
.last_news h2,
#events h2,
#good_plans h2,
#bde h2 {
  border-bottom: var(--secondarycolor) solid 2px;
  width: 55%;
  font-weight: bold;
  padding-bottom: 3px;
}
.qui_sommes_nous iframe {
  height: 180px;
}
button {
  margin-top: 10px;
  background-color: var(--principalcolor);
  width: 130px;
  height: 30px;
  border: none;
}
button a {
  text-decoration: none;
  color: white;
}
button:active {
  border: 2px var(--secondarycolor) solid;
  background-color: white;
}
button:active a {
  color: var(--secondarycolor);
}
.first_news {
  background-image: url("../img/img_accueil/Coursez_votre_inte.jpg");
}
.second_news {
  background-image: url("../img/img_accueil/Photo_inte.jpg");
}
.third_news {
  background-image: url("../img/img_accueil/Nocturne-etudiante.jpg");
}
.last_news ul,
.this_month ul,
.last_good_plans ul {
  color: white;
  padding-left: 0;
  text-align: center;
}
.last_news ul li,
.this_month ul li,
.last_good_plans ul li {
  height: 200px;
}
.last_news ul li h2,
#events > .last_news > ul > li > h2,
#events .this_month ul li h2,
#good_plans .last_good_plans ul li h2 {
  border-bottom: none;
  width: 100%;
  padding-top: 20px;
}
.last_news ul li p,
.this_month ul li p,
.last_good_plans ul li p {
  margin-top: 35%;
  padding-right: 20px;
  padding-left: 20px;
}
footer {
  background-color: var(--principalcolor);
  color: white;
}
.a_propos a {
  color: white;
  font-weight: lighter;
}
.a_propos li {
  margin-top: 5px;
}
.a_propos_follow {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.logo_facebook {
  margin-right: 15px;
}
.mentions {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}
.intro_event {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 30px;
}
.research_news ul li,
.les_ae ul li {
  width: 40%;
  height: 75px;
  color: white;
}
.background_bleu {
  background-color: var(--principalcolor);
}
.background_rose {
  background-color: var(--secondarycolor);
}
#events .research_news ul li h2,
#bde .les_ae ul li h2 {
  border-bottom: none;
  width: 100%;
  margin: auto;
  height: max-content;
  text-align: center;
  padding-top: 25%;
}
.research_news ul,
.partenaires ul,
.les_ae ul {
  padding: 0;
  display: flex;
  flex-flow: wrap;
}
.research_news ul li:nth-child(2n) {
  margin-left: 10%;
  margin-bottom: 10px;
}
.research_news ul li:nth-child(odd) {
  margin-left: 5%;
}
.research_news button {
  margin-left: 5%;
}
.this_month ul .first_news {
  background-image: url("../img/img_events/nocturne_etudiante.jpg");
}
.this_month ul .second_news {
  background-image: url("../img/img_events/coursez_inte.jpg");
}
.this_month ul .third_news {
  background-image: url("../img/img_events/panier_legumes.jpg");
}
.devenir_adherent img {
  width: 100%;
}
.last_good_plans ul .good_plans_beer {
  background-image: url("../img/img_bons_plans/obrian.jpg");
}
.last_good_plans ul .good_plans_food {
  background-image: url("../img/img_bons_plans/baratie.jpg");
}
.last_good_plans ul .good_plans_clothe {
  background-image: url("../img/img_bons_plans/fripvie.jpg");
}
.partenaires ul li {
  width: 45%;
  margin-bottom: 10px;
}
.partenaires ul li:nth-child(odd) {
  margin-right: 5%;
}
.partenaires ul li img {
  width: 100%;
}
.les_ae ul li {
  margin-right: 5%;
  margin-left: 5%;
}
.les_ae {
  margin-bottom: 171px;
}
/*# sourceMappingURL=test.css.map */